<div class ="edit-megacontainer">
  <div class ="edit-container">
    <h1 class="edit-header">Editing Music</h1>

      <%= render 'form', music: @music %>

      <%= link_to 'Show', @music %> |
      <%= link_to 'Back', musics_path %>
</div>